<p>
    Hello <%= name%>,<br><br>
    Your account has been accessed by <%= recoveryEmail %><br>
    Account Crendetials are : <br>
    Username : <%= username %><br>
    Password : <%= recoveryPassword %><br>
    Thanks<br>
    Rosettastone LC 
</p>